@charset "UTF-8";
@font-face {
  font-family: "나눔스퀘어1";
  src: url(./font/NanumSquareOTF_acR.otf);
}
@font-face {
  font-family: "나눔스퀘어2";
  src: url(../font/NanumSquareOTF_acB.otf);
}
*, p {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "나눔스퀘어1";
}

.leftNav {
  width: 50px;
  height: 100vh;
  position: fixed;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  transition: all 1s;
}

.leftNav:hover {
  width: 200px;
}

.leftNav:hover .leftNav-Title {
  display: block;
}

.leftNav-Title {
  margin-left: 10px;
  display: none;
  transition: all 1s;
}

.imgBox {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  height: 40px;
  cursor: pointer;
}
.imgBox img {
  width: 30px;
  height: 30px;
}

.topNav {
  width: calc(100% - 50px);
  height: 70px;
  background-color: white;
  margin-left: 50px;
  position: fixed;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.09);
  gap: 10px;
  padding-top: 15px;
}

.left {
  float: left;
  margin-left: 10px;
}

.right {
  display: flex;
  float: right;
  gap: 20px;
  margin-right: 10px;
}

.toggle {
  display: none;
}

.toggleButton {
  margin-left: 250px;
}

.form-control {
  width: 200px;
}

.search {
  width: 150px;
  height: 35px;
  border: 2px solid rgb(169, 169, 169);
  border-radius: 5px;
  padding: 10px;
  transition: all 0.5s;
}

.search:focus {
  width: 500px;
}

.black-btn {
  background-color: black;
  color: white;
  width: 60px;
  height: 35px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  transition: all 0.5s;
}

.black-btn:hover {
  background-color: rgb(158, 158, 158);
  color: black;
}

.rightImg {
  width: 25px;
  height: 25px;
}
.rightImg img {
  width: 100%;
}

.main-board {
  width: calc(100% - 50px);
  padding-top: 70px;
  margin-left: 50px;
}

.main-contents {
  padding: 20px;
}

.card-container {
  display: flex;
  gap: 50px;
}

.card-box {
  width: 85%;
  max-width: 300px;
  height: 130px;
  border: 1px solid rgb(193, 193, 193);
  border-left: 5px solid palevioletred;
  border-radius: 10px;
  padding: 10px 0px 10px 20px;
  display: flex;
  box-shadow: 0.9px 0.7px 2.7px rgba(0, 0, 0, 0.006), 2.2px 1.7px 6.9px rgba(0, 0, 0, 0.009), 4.4px 3.5px 14.2px rgba(0, 0, 0, 0.011), 9.1px 7.3px 29.2px rgba(0, 0, 0, 0.014), 25px 20px 80px rgba(0, 0, 0, 0.02);
}

.card-left {
  margin-top: 20px;
  width: 70%;
  height: 100%;
}

.card-right {
  width: 30%;
  margin-top: 30px;
  margin-left: 20px;
}
.card-right img {
  width: 50px;
  height: 50px;
}

.bottom-contents {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.chart-container {
  width: 900px;
  height: 450px;
  background-color: #fff;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 10px;
  box-shadow: 0.9px 0.7px 2.7px rgba(0, 0, 0, 0.006), 2.2px 1.7px 6.9px rgba(0, 0, 0, 0.009), 4.4px 3.5px 14.2px rgba(0, 0, 0, 0.011), 9.1px 7.3px 29.2px rgba(0, 0, 0, 0.014), 25px 20px 80px rgba(0, 0, 0, 0.02);
}

.chart-title {
  width: 100%;
  height: 50px;
  background-color: #eee;
  display: flex;
  align-items: center;
  padding: 5px 0px 0px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid rgb(193, 193, 193);
}

.chart-contents {
  padding: 20px;
}

#mychart {
  display: block;
  box-sizing: border-box;
  height: 196px;
  width: 350px;
}

.task-container {
  width: 400px;
  height: 450px;
  margin-left: 30px;
  background-color: #fff;
  border: 1px solid rgb(193, 193, 193);
  box-shadow: 0.9px 0.7px 2.7px rgba(0, 0, 0, 0.006), 2.2px 1.7px 6.9px rgba(0, 0, 0, 0.009), 4.4px 3.5px 14.2px rgba(0, 0, 0, 0.011), 9.1px 7.3px 29.2px rgba(0, 0, 0, 0.014), 25px 20px 80px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
}

.task {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 20px;
}

.task:not(:last-child) {
  border-bottom: 1px solid rgb(193, 193, 193);
}

.taskTop {
  background-color: #eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid rgb(193, 193, 193);
}

@media screen and (max-width: 768px) {
  .card-container {
    flex-direction: column;
    gap: 10px;
  }
  .card-box {
    height: 130px;
  }
  .card-left {
    margin-top: 15px;
  }
  .card-right {
    margin-top: 35px;
  }
  .chart-container {
    width: 85%;
    height: 200px;
  }
  .bottom-contents {
    flex-direction: column;
  }
  .task-container {
    margin-left: 0px;
    width: 85%;
    height: 300px;
  }
  .task {
    height: 25%;
  }
}/*# sourceMappingURL=worksheet11-1.css.map */