@font-face{
  font-family: '나눔스퀘어';
  src: url(./font/NanumSquareOTF_acR.otf)
}

@font-face {
  font-family: '나눔스퀘어2';
  src: url(../font/NanumSquareOTF_acB.otf);
}

*,p{
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family: '나눔스퀘어';
  background-color: #fff;
  background-image: url(./photo/grid.png);
  background-size: 90%;
  background-attachment: fixed;  
}

.title{
  width: 80%;
  max-width: 700px;
  margin: auto;
  padding: 50px;
  text-align: center;
}

.work-area{
  display: block;
}

.line{
  width: 70%;
  max-width: 500px;
  margin: 60px auto 30px;
  opacity: 40%;
}

.comment-container{
  width: 80%;
  max-width: 700px;
  height: 180px;
  margin: 30px auto;
  padding: 25px 24px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  background-color: #fff;
}

.comment-box{
  display: flex;
}

.comment-title{
  display: inline-block;
  background-color: #eee;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 10px;
}

.date{
  font-size: 12px;
  padding: 15px 8px;
  color: black;
  opacity: 0.4;
}

.comment{
  font-size: 14px;
}

/* work-area css는 여기부터 */

.overlay-container{
  width: 80%;
  max-width: 700px;
  height: 200px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  margin: 0px auto 30px; 
}

.overlay-box{
  width: 93%;
  height: 100%;
  display: flex;
  margin: auto;
  padding: 10px;
}

.overlay-item{
  width: 33%;
  margin: 10px;
  overflow: hidden;
}

.overlay-item img{
  border: 1px solid #eee;
  width: 100%;
  object-fit: contain;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: all 0.8s;
}

.overlay:hover{
  opacity: 0.5;
}

.overlay-wrap{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overlay-text{
  position: absolute;
  top: 50%;
  left: 20%;
  color: white;
  opacity: 0;
}

.overlay-half{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  margin-top: 100%;
  transition: all 0.6s;
}

.overlay-wrap:hover .overlay-half{
  margin-top: 50%;  
}