@charset "UTF-8";
@font-face {
  font-family: "나눔스퀘어";
  src: url(./font/NanumSquareOTF_acR.otf);
}
@font-face {
  font-family: "나눔스퀘어2";
  src: url(../font/NanumSquareOTF_acB.otf);
}
*, p {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "나눔스퀘어1";
}

.container {
  width: 100vw;
  height: 100%;
  background: #bdc3c7; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.first-container {
  width: 100%;
  max-width: 900px;
  padding: 60px;
  margin: auto;
  text-align: center;
}

@-webkit-keyframes slide {
  0% {
    transform: translateX(4000px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translatex(0px);
  }
}

@keyframes slide {
  0% {
    transform: translateX(4000px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translatex(0px);
  }
}
.main-text {
  width: 100%;
}
.main-text h1 {
  margin-bottom: 20px;
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}
.main-text hr {
  width: 500px;
  margin: 20px auto;
  border: 0.5px solid #fff;
}
.main-text .btn {
  width: 200px;
  padding: 10px;
  background-color: #fff;
  margin: 30px 0;
  border: none;
  border-radius: 20px;
}

.main-photo {
  width: 100%;
}
.main-photo img {
  width: 80%;
}

@-webkit-keyframes shake {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-20px);
  }
  80% {
    transform: translateX(50px);
  }
  10% {
    transform: translateX(0px);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-20px);
  }
  80% {
    transform: translateX(50px);
  }
  10% {
    transform: translateX(0px);
  }
}
.main-photo:hover {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

.text-container {
  background-color: #fff;
}

.sub-text {
  width: 70%;
  padding: 50px;
  margin: auto;
  text-align: center;
}
.sub-text h3 {
  margin-bottom: 10px;
}
.sub-text p {
  line-height: 24px;
}

.photo-container {
  width: 100%;
  padding: 50px;
}

.photo-content {
  width: 100%;
  max-width: 1000px;
  padding: 10px;
  margin: auto;
  display: flex;
}

.image1 {
  text-align: center;
  color: #eee;
  font-size: 14px;
}
.image1 img {
  width: 80%;
}

.image2 {
  text-align: center;
  color: white;
  font-size: 14px;
  margin-top: -50px;
}
.image2 img {
  width: 100%;
}

.concert-container {
  width: 100%;
}

.concert-content {
  width: 90%;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: center;
}

.concert-photo {
  width: 30%;
  height: 100%;
  max-height: 300px;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.concert-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.concert-photo .semi {
  position: relative;
  bottom: 200px;
}

.concert-content2 {
  width: 90%;
  margin: auto;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.concert-text {
  width: 30%;
  margin: 10px;
  text-align: center;
  color: white;
  font-size: 14px;
}

.sub-text2 {
  width: 70%;
  padding-top: 40px;
  margin: auto;
  text-align: center;
}
.sub-text2 h3 {
  margin-bottom: 10px;
}
.sub-text2 p {
  line-height: 24px;
}

.sub-photo {
  text-align: center;
}
.sub-photo img {
  width: 60%;
  position: relative;
  bottom: 50px;
}

.last-container {
  width: 90%;
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.last-content {
  margin: 50px;
}

.album-container {
  display: flex;
  flex-wrap: wrap;
  margin: 80px auto;
}

.album-content {
  width: 50%;
  min-width: 200px;
  height: 200px;
  cursor: pointer;
  position: relative;
}

.album-content:hover .overlay {
  color: #fff;
  border: 16px solid #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0);
  border: 0px solid #fff;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s;
}

.album1 {
  background-image: url(./photo/worksheet6/album1.jpeg);
  background-size: cover;
}

.album2 {
  background-image: url(./photo/worksheet6/album2.jpeg);
  background-size: cover;
}

.album3 {
  background-image: url(./photo/worksheet6/album3.jpeg);
  background-size: cover;
  background-position: center center;
}

.album4 {
  background-image: url(./photo/worksheet6/album4.jpeg);
  background-size: cover;
  background-position: center top;
}

.album5 {
  background-image: url(./photo/worksheet6/album5.jpeg);
  background-size: contain;
  background-position: center center;
}

.album6 {
  background-image: url(./photo/worksheet6/album6.jpeg);
  background-size: cover;
}/*# sourceMappingURL=worksheet6-1.css.map */