@font-face{
  font-family: '나눔스퀘어';
  src: url(./font/NanumSquareOTF_acR.otf)
}

@font-face {
  font-family: '나눔스퀘어2';
  src: url(../font/NanumSquareOTF_acB.otf);
}

$메인컬러 : #1972c6;;

*,p{
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family: '나눔스퀘어1';
  background-color: #fff;
  background-image: url(./photo/grid.png);
  background-size: 90%;
  background-attachment: fixed;  
}

.title{
  width: 80%;
  max-width: 700px;
  margin: auto;
  padding: 50px;
  text-align: center;
}

.work-area{
  display: block;
}

.line{
  width: 70%;
  max-width: 500px;
  margin: 60px auto 30px;
  opacity: 40%;
}

.comment-container{
  width: 80%;
  max-width: 700px;
  margin: 30px auto;
  padding: 30px 24px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  background-color: #fff;
}

.commnet-cotent{
  width: 100%;
  height: 100%;
}

.comment-top{
  display: flex;
}

.comment-title{
  display: inline-block;
  background-color: #eee;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 10px;
}

.date{
  font-size: 12px;
  padding: 15px 8px;
  color: black;
  opacity: 0.4;
}

.comment{
  font-size: 14px;
}

/* work-area 부분 css */

.first-container{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  background-color: #fff;
  border-radius: 10px;
}

.sns-left{
  width: 50%;
  height: 100%;
  display: flex;
}

.photo{
  display: flex;
  align-items: center;
  img{
    width: 100px;
    border-radius: 100px;
    display: block;
  }
}

.name{
  padding: 30px 0px 30px 28px;
  h3{
    font-size: 16px;
    margin-bottom: 2px;
  }
  >h6{
    font-size: 12px;
    color: #999;
    margin-bottom: 9px;
  }
}

.live{
  display: flex;
  margin-bottom: 10px;
  img{
    width: 15px;
    height: 15px;
  }
  p{
    font-size: 13px;
    color: $메인컬러;
    margin-left: 2px;
  }
}

.btn{
  width: 80px;
  padding: 6px;
  border-radius: 20px;
  border: 1px solid #999;
  background-color: #fff;
  margin-bottom: 2px;
}

.btn:hover{
  background-color: #76abdc;
  color: #fff;
}

.sns-right{
  width: 50%;
  height: 100%;
  border-left: 1px solid #999;
}

.sns-list{
  margin-left: 30px;
}

.list{
  display: flex;
  margin: 16px 0px;
  h4{
    width: 80px;
    margin-right: 80px;
  }  
}

.second-container{
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
}

.profile-line1{
  width: 20%;
  height: 30px;
  text-align: center;
  border-bottom: 2px solid $메인컬러;
  z-index: 10;
  color: $메인컬러;
}

.profile-line2{
  width: 80%;
  border: 1px solid #999;
  margin-top: -2px;
  float: right;  
}

.third-container{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.third-box{
  width: 100%;
  display: flex;
  gap: 16px;
}

.work-side{
  width: 20%;
  height: 100%;
  padding: 30px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 10px;
}

.work-middle{
  width: 60%;
  height: 100%;
  padding: 30px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 10px;
  p{
    font-size: 14px;
    line-height: 20px;
  }
  hr{
    margin: 40px 10px;
    border: 0.5px solid #999;
  }
}

.about-content{
  width: 100%;
  margin-bottom: 20px;
}

.skills-content{
  width: 100%;
}

.skills-detail{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 165px;
  p{
    margin: 0px 3px;
    padding: 10px 25px;
    border: 1px solid #999;
    border-radius: 25px;
  }
}

.side-1{
  width: 100%;
  padding: 30px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 10px;
  text-align: center;
}

.contact-box{
  >p{
    margin: 10px 0px;
  }
}

.contact-img{
  width: 100%;
  height: 50%;
  text-align: center;
  img{
    width: 70px;
  }
}

.contact-btn{
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #1972c6;
  background-color: #1972c6;
  color: white;
  cursor: pointer;
}

.contact-btn:hover{
  background-color: #fff;
  color: black;
}

.side-2{
  width: 100%;
  margin: 10px 0px;
  padding: 20px 15px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 10px;
  h3{
    width: 100%;
    font-size: 13px;
    text-align: left;
  }
  hr{
    margin: 10px 0px;
  }
}

.another{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.another-img{
  width: 50px;
  img{
    width: 100%;
    border-radius: 100px;
  }
}

.another-name{
  margin-left: 10px;
  h4{
    font-size: 13px;
  }
  >p{
    font-size: 10px;
    color: #999;
  }
}

.icon-box{
  display: flex;
  p{
    font-size: 10px;
    color: #1972c6;
  }
}

.another-icon{
  width: 15px;
  img{
    width: 100%;
    height: 14px;
  }
  p{
    font-size: 10px;
  }
}


@media screen and (max-width: 768px){
  .first-container{
    flex-direction: column;
  }
  .sns-left{
    width: 100%;
  }
  .sns-right{
    width: 100%;
    border: none;
  }
  .sns-list{
    margin-left: 10px;
  }
  .list h4{
    margin-right: 20px;
  }
  .third-box{
    flex-direction: column;
  }
  .work-side{
    width: 100%;
  }
  .work-middle{
    width: 100%;
  }
  .skills-detail{
    gap: 10px;
    margin-bottom: 0px;
  }
  .another{
    margin-bottom: 10px;
  }
}