@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.App {
  font-family: 'Pretendard-Regular';
}

.main-background{
  width: 100vw;
  height: 100vh;
  background-image: url(./img/background.png);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-contents{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@keyframes rotate_image{
  100% {
      transform: rotate(360deg);
  }
}
.main-slime{
  width: 200px;
  height: 200px;
  background-image: url(./img/mainslime.png);
  margin-bottom: 80px;
  animation: rotate_image 6s linear infinite;transform-origin: 50% 50%;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-8deg);
  }

  50% {
    transform: rotate(8deg);
  }
  
  75% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
.feedBtn{
  margin-top: 30px;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 800;
  border-radius: 10px;
  animation-name: shake;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}
.feedBtn:hover{
  animation : none;
}

.cart-background{
  width: 100%;
  background-image: url(./img/cartbackground.png);
  background-attachment: fixed;
  background-size: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-contents{
  width: 70%;
  margin: 100px 0px;
}
.products{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.product{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 30%;
  height: 350px;
  background-color: blue;
  padding: 30px 0px;
  text-align: center;
}
.productImg{
  width: 130px;
  height: 130px;
  background-color: green;
}

.moreBtn{
  display: block;
  padding: 10px 30px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  background-color: #DAD8FE;
  margin: 80px auto;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
