body {
  background-image: url("../images/questions_bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
.progress {
  max-width: 500px;
  height: 20px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 60px;
}
.progress .value {
  width: 10%;
  height: 20px;
  background-color: #ffb103;
  border-radius: 10px;
  transition: 0.2s;
}
.question-box {
  max-width: 420px;
  background-color: #ffffff;
  padding: 60px 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: 0 4px 25px #dde2e8;
}
.question-box .number {
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: #2ec7a6;
  margin-bottom: 30px;
}
.question-box .question {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 40px;
}
.question-box .choice {
  border-radius: 120px;
  font-size: 22px;
}
